node_modules
.env
build
.DS_Store
*.db
readme
/backend/db/migrations/02-create-spot.js
/backend/db/migrations/03-create-booking.js
/backend/db/migrations/04-create-review.js
/backend/db/migrations/05-create-spot-image.js
/backend/db/migrations/06-create-review-image.js
/backend/db/models/spot.js
/backend/db/models/booking.js
/backend/db/models/review.js
/backend/db/models/spotimage.js
/backend/db/models/reviewimage.js
/backend/db/seeders/02-demo-spot.js
/backend/db/seeders/03-demo-booking.js
/backend/db/seeders/04-demo-review.js
/backend/db/seeders/05-demo-spot-image.js
/backend/db/seeders/06-demo-review-image.js
