.column img{
    width: 40%;
}

.column img:hover{
    width: 60%;
}
.column .tooltiptext{
    visibility: hidden;
    position: absolute;
  z-index: 1;
}

.column:hover .tooltiptext{
    visibility: visible
}

.spots{
    display:flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.column{
    display: flex;
    flex: 25%;
    /* max-width: 25%; */
    border: solid 5px red;
    padding: 3px;
    align-items: center;
    justify-self: center;
}

.column > *{
    display: flex;
    justify-content: center;
}
