.nav{
    border-bottom: 2px solid black;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.rightSide{
    display: flex;
    justify-self: flex-end;
    gap: 30px;
}



.profile-dropdown {
    display: block
}

button:hover{
    cursor: pointer;
}

.earthLogo{
    width: 50px;
}
